body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.error-container {
    height: auto;
    background-color: #1d2027;
    margin-top: .5rem;
    padding-bottom: 2rem;

    box-sizing: border-box;

}

.error-icon {
 position: relative;
    top:3%;
    left:10%;
}

.monster-wrapper {
    width: 10rem;
    height: 16rem;
    margin:0 auto;
    padding-top:2rem;
    display: block;
            box-sizing: border-box;
}

.error-text {
    text-align: center;
    color: #e2e2e2;
}

.error-text h1 {
    font-size: 2rem;
    font-weight: bolder;
}

.error-text p {
    font-size: 1.2rem;
}

.fixbtn {
    position: relative;

}