a.btn {
    text-decoration: none;
}

.btn {
    border: solid 0.2rem #e2e2e2;
    border-radius: 1.4rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bolder;
    display: block;
    margin: 2rem auto 0;

    max-width:15%;
    min-width: 12%;
}

.btn:hover {
    background-color: #5B5860;
}

.btn-submit {
    background-color: #1d2027;
    height: 2.5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;

}

.btn-submit:focus {
    border: none;
    outline: none;
}

.btn-sm {

padding-left:1.5rem;
padding-right:1.5rem;

}

.btn-md {
    width: 25%;
}

.btn-full {
    width: 100%;
}

.btn-error {
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
}

