a.btn {
 text-decoration: none;
}
.btn {
    border: solid 0.2rem #e2e2e2;
    border-radius: 1.4rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bolder;

}

.btn-sm {
    width:15%;
}


.btn-md {
    width:25%;
}

.btn-full {
    width:100%;
}


.btn-error {
    margin: 0 auto;
    display: block;
}