.container {
    height: auto;
    min-height: 58vh;
    background-color: #1d2027;
    margin-top:.5rem;
    padding:2rem;
    width: 100%;
    box-sizing: border-box;
}

.container h1 {
    width: 100%;
    text-align: center;
}

.contact-form {
    margin:0 auto;
    display: block;
    width: 100%;
          box-sizing: border-box;
    padding-right:2rem;
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    .contact-form {
        padding-left:15rem;
        padding-right:15rem;
    }
}