/* ------------------------------------------------------------|
| MAIN STRUCTURES
*-------------------------------------------------------------*/


img {
    max-width: 100%;
    height: auto;
}


/* ------------------------------------------------------------|
| HEADER
*-------------------------------------------------------------*/


header {
    background-color: #1d2027;
    height: 7rem;
    width:100vw;
}


.logo {
    max-width: 413px;
    min-height: 48px;
             box-sizing: border-box;

        margin:0 auto;
        display: block;

    height: 100%;

}