/* ------------------------------------------------------------|
| MAIN STRUCTURES
*-------------------------------------------------------------*/

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Ubuntu', serif;
    background-color: #dddddd;
}

a {
    color:inherit;
    text-decoration: none;
}

/* ------------------------------------------------------------|
| HEADER
*-------------------------------------------------------------*/

header {
    background-color: #1d2027;
    height: auto;
    width: 100vw;
}

main {
    width: 100%;
    max-width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;

    margin: 0 auto;
    display: block;

}

.logo {

    box-sizing: border-box;

    margin: 0 auto;
    display: block;
    width: 80%;
    max-height: 30px;
    height: 100%;



    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.desktop-search-box {
    position: absolute;
    top:4.2vh;
    left:71vw;
}

.search {

    box-sizing: border-box;
    background: #2f4cb5;
    color: white;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    border: none;
    margin-left: 1.8rem;
    padding: .3rem;
    height: 2rem;
    font-size: .8rem;

}

.search:active, .search:focus {
    outline:none;
}

.search-icon {
    position: absolute;
    padding-top:.6rem;
    padding-left:.8rem;
    color:white;
    opacity: .3;
    font-size:.8rem;
}

.search-box {
    background-color:#2f4cb5;

}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 850px) {

    .search {
        border-bottom: #e2e2e2 solid .5px;
    }

    .search-box, .search {

        background-color:#1d2027;

    }
}


/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {

    .logo {
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

nav {

    width: 100vw;
}

.nav-menu {
    color: white;
    list-style-type: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 4rem;
    background-color: #355ff2;
}

.nav-menu li {
    display: inline-block;
    float: left;

    box-sizing: border-box;

    padding: .6rem .5rem .7rem .5rem;

    text-align: center;

    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;

    height: 100% !important;

    /*border: solid 1px green;*/

}

.nav-menu li:hover {
    background-color: #254bb7;
}

.icon {
    min-width: 100%;
    display: inline-block;
    float: left;

    box-sizing: border-box;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-bottom: .5rem;

}

nav .nav-menu li a {
    color: white;
    text-decoration: none;

    display: inline-block;
    float: left;
    text-align: center;

    margin: 0 auto;
    width: 100%;
    height: auto;

    box-sizing: border-box;

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {

    /*Nav element size*/
    .nav-menu li {
        width: 25%;

    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

}

/* ------------------------------------------------------------|
| MAIN ARTICLE BOX
*-------------------------------------------------------------*/

.main-article-box {
    background-color: #1d2027;

    box-sizing: border-box;

    display: inline-block;
    float: left;

}

.main-article {
    background-color: #1d2027;
    color: white;

    display: inline-block;
    float: left;
    height: 100%;

}

.featured-tag {
    background-color: #f13e41;
    width: 10.66%;
    min-width: 60px;
    padding: .5rem 1rem .5rem 1rem;
    text-align: center;
    font-weight: lighter;
    font-size: .8rem;
    min-font-size: 3vw;
    max-font-size: 10vw;

    position: absolute;

}

.main-article-description {
    display: inline-block;
    float: bottom;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding-bottom: 1rem;

    border-right-style: solid;
    border-right-color: #f13e41;
    border-right-width: .5rem;
    background-color: #1d2027;

}

.other-article-box {
    width: 100%;
    height: 20%;

    color: #e2e2e2;

    display: inline-block;
    float: left;
    padding-bottom: 1rem;
    background-color: #121316;
}

.other-article-box:hover {
    background-color: #1d2027;
}

.main-article h1 {
    font-size: 1.5rem;
}

.main-article p {
    font-size: 0.8rem;
}

.other-article-box h1 {
    font-size: 1.2rem;
}

.other-article-box p {
    font-size: 0.7rem;
}

.main-article h1, .other-article-box h1 {
    font-weight: bolder;

    padding-left: 2rem;
    padding-right: 2rem;
}

.other-article-box {
    padding-bottom: 1rem;
}

.main-article p, .other-article-box p {

    padding-left: 2rem;
    padding-right: 2rem;
}

.main-article-img {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    float: left;
    height: 20rem;
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 850px) {
    .other-article-box h1 {
        font-size: 1.2rem;
    }

    .other-article-box p {
        font-size: 0.8rem;
    }

    .main-article-box, .main-article {
        height: 42rem;
    }

    .main-article-img {
        height: 80%;
    }

    .main-article-description {
        height: 20%;
    }

    .main-article {

        box-sizing: border-box;
    }

    .main-article-box {
        margin-top: 1rem;

    }

    .other-article-column {
        background-color: #121316;
        display: inline-block;
        float: left;
        height: 100%;

        box-sizing: border-box;
        padding-bottom: 1rem;
    }

    .other-article-box {
        height: 20.5%;

        box-sizing: border-box;
        padding: 0.9rem;
    }

    .active {
        border-right-style: solid;
        border-right-color: #f13e41;
        border-right-width: .5rem;
        background-color: #1d2027;
    }

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {

    .featured-tag {
        background-color: #f13e41;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

/* ------------------------------------------------------------|
| WRAPPERS
*-------------------------------------------------------------*/
/*DESKTOP ONLY CODE*/

@media screen and (min-width: 850px) {

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    /*Nav element size*/
    .nav-menu li {
        width: 12.5%;

    }

    .desktop-wrapper {
        max-width: 1400px;

        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        height: auto;
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;

    }

    /*float logo to left*/
    .logo {
        display: inline-block;
        width: auto;

    }

    /* NAV OPTIONS =========================================== */
    nav .nav-menu {
        height: 2rem;
    }

    .icon {

        border: solid 1px red;
        box-sizing: border-box;

        min-width: 15%;
        height: auto;
        font-size: .4rem;

    }

    nav .nav-menu li {
        margin: 0;
        padding: 0;

    }

    nav .nav-menu li a {

        font-size: .8rem;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.6rem;

    }

}

/* ------------------------------------------------------------|
| POP.nav-menuAR BOX
*-------------------------------------------------------------*/

.popular-box {
    background-color: white;

    box-sizing: border-box;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: .7rem;
    height: 3rem;

}

.popular-tag {
    color: #f13e41;
    font-weight: bolder;
}

.popular-box ul {
    list-style-type: none;

    box-sizing: border-box;
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 100%;
}

.popular-box ul li {

    display: inline-block;
    float: left;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: 1.1rem;

}

.popular-box ul li a {
    text-decoration: none;
    color: #121316;
    height: 100%;

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {
    .popular-box {
        font-size: .7rem;
    }

    .popular-box ul li {
        width: 25%;
    }
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 850px) {
    .popular-box ul li {
        width: 12.5%;
    }

}

/* ------------------------------------------------------------|
| NEWS BOX
*-------------------------------------------------------------*/

.news-box {
    display: inline-block;
    float: left;

    box-sizing: border-box;

    margin-bottom: .5rem;
}

.news-box-tag {
    background-color: #355ff2;
    color: white;
    font-weight: lighter;
    font-size: .8rem;
    position: absolute;
    max-width: 68px;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.news-box-img {
    width: 100%;

    display: inline-block;
    float: left;
    height: 72%;
}

.news-box.img:hover{
    filter:saturate(200%);
}




.news-box-description-wrapper {
    background-color: #1d2027;
    height: 28%;

    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 100%;
}

.news-box-description {
    color: white;

    font-weight: bolder;
    padding: 1rem;
}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {
    .news-box {
        height: 27.5rem;
    }

    .news-box-description {
        font-size: 1.4rem;
        padding-top: 1.6rem;
    }
}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 400px) {

    .news-box-description {
        font-size: 1.2rem;
    }
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 850px) {

    .news-box {
        padding: .2rem;
        height: 23rem;
    }

    .news-box-description {
        font-size: 1rem;
    }
}

/* ------------------------------------------------------------|
| ADS BOX
*-------------------------------------------------------------*/

.ads-box {
    display: inline-block;
    float: left;
    height: auto;
    margin-bottom: .5rem;
}

.ads-box img {
    width: 100%;
    height: auto;

}

/* ------------------------------------------------------------|
| BOX MOST READ MOST SHARED
*-------------------------------------------------------------*/

.box-read-shared {

    height: 22.6rem;
    box-sizing: border-box;
    background-color: white;
    margin-top: 0.2rem;
}

.box-read-shared-title {
    height: 14%;
}

.box-read-shared-options {
    margin-bottom: .5rem;
    height: 44%;
}

.box-read-shared-option {
    box-sizing: border-box;
    background-color: #355ff2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

.active-title-option {
    background-color: white !important;
    color: #1d2027 !important;
    border-left: .3rem solid #355ff2;
    border-top: .3rem solid #355ff2;
    height: 3rem;
}

.active-option {
    background-color: #1d2027 !important;
    color: white !important;
    border-width: 1rem;
    border-left: solid #f13e41;
}

.active-number {
    font-size: 1.5rem;
    color: #dddddd !important;
    font-weight: bolder;
    margin-right: 0.6rem;
}

.box-read-shared-featured-options {
    box-sizing: border-box;
    height: 44%;
}

.box-read-shared-featured-option {
    background-color: white;
    font-size: 1.2rem;
    color: #1d2027;
    height: auto;
    padding-top: .3rem;
    padding-bottom: .7rem;
    padding-left: .5rem;

    box-sizing: border-box;
    max-width: 100%;
}

.box-read-shared-featured-number {
    font-size: 1.5rem;
    color: #1d2027;
    font-weight: bolder;
    padding-top:.3rem;

    margin-right: 0.6rem;
}

.box-read-shared-img img {
    width: 100%;

    height: 100%;
}

.box-read-shared-img {
    height: 42%;

}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 50px) {

    .box-read-shared-featured-option {
        font-size: .8rem;
        font-weight: bolder;
    }

    .box-read-shared-featured-number {
        font-size: 1.2rem;
    }
}


/*MOBILE ONLY CODE*/
@media screen and (max-width: 850px) {

    .box-read-shared{
        height: auto;
    }
}


/* ------------------------------------------------------------|
| FOOTER
*-------------------------------------------------------------*/

footer {
    background-color:#1d2027;
    height: 10rem;
    margin-bottom: 1rem;
    margin-top:.5rem;
    font-size:.8rem;
}

.footer-menu-top {
    margin-top:2rem;
    padding-left:2rem;
    padding-right:2rem;
    box-sizing: border-box;
}

.footer-menu-top ul {
    margin: 0;
    padding:0;
}

.footer-menu-top ul li {
    display: inline;
    float:left;
    box-sizing: border-box;
    color:#5B5860;
    text-align:center;
    width: 25%;
}


.footer-menu-top ul li a, .footer-menu-bottom ul li a{
display: inline-block;
    float:left;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
            box-sizing: border-box;
}


.footer-menu-bottom {
    margin-top:2rem;
    padding-left:.5rem;
    padding-right:.5rem;
    box-sizing: border-box;
}

.footer-menu-bottom ul {
    margin: 0;
    padding:0;
}

.footer-menu-bottom ul li {
    display: inline;
    float:left;
    box-sizing: border-box;
    color:white;
    text-align:center;
    width: 33.33%;
}

.footer-icon {
    margin-right:.3rem;
}

